*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: inline;
    display: flex;
}

nav{
    display: flex;
    width: 25%;
    justify-content: center;
}

.nav-one{
    padding: 10px;
    margin: 10px;
    flex: 1 0.5 0;
    display: flex;
    justify-content: center;
}

.second-nav{
    padding: 10px;
    margin: 10px;
    flex: 1 0.5 0;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    flex: 1;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttons{
    margin-bottom: 10px;
}

#buttons li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}

#buttons button, #buttons select{
    padding: 5px;
}

ul ul li{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

aside{
    width: 25%;
}

.butts{
    margin: 10px 0 10px 0;
}

.side{
    margin: 10px 0px 10px 20px; 
}

.calendar{
    margin: 20px 0px;
}

h2{
    margin: 20px 0;
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label{
    font-weight: bold;
}

form input, form textarea, form select{
    margin: 10px 0;
}

/* Table is for grade.html */
table{
    border: 1px solid black;
}

tr{
    border-bottom: 1px solid black;
}

#entry{
    padding: 5px 2px;
    text-align: center;
    width: 80%;
}

th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
} 

.assignments{
    border-bottom: 1px solid black;
}

#assignments, #quizzes, #exams, #projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit_work{
    display: inline-flex;
}

.edit_work select{
    margin: 10px 10px;
    height: 40px;
}

.edit_submit{
    display: inline-flex;
    justify-content: center;
}


.edit_submit button{
   margin: 10px;
}

.profile_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh;
}

.profile_header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}

.profile_img{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: gray;
    justify-self: center;
    margin: 20px 10px;
}

.profile_info{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 20px 10px;
}

.edit_butt{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    height: 30px;
    width: 120px;
    margin: 20px 10px;
}

.link_labels{
    margin: 20px 0px 0 0px;
}

.link_labels label{
    margin: 20px 55px 20px 55px;
    text-align: center;
}

.links{
    display: block;
}

.add_link{
    width: fit-content;
    padding: 2px;
}

.profile_buttons{
    margin: 20px 0;
    display: flex;
    justify-content: end;
}
.profile_buttons button{
    margin: 5px;
    width: 100px;
    height: 50px;
}

.profile_buttons button:last-child{
    color: white;
    background-color: red;
}

.settings_nav li{
    display: inline;
}

.form_group{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.course_details label{
    margin: 10px 10px 10px 0px;
}

.course_details p{
    margin: 0px 10px 10px 0px;
}

.course_details button{
    align-self: end;
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
}